In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/learn-co-curriculum/dsc-phase-1-project-v3/master/data/Aviation_Data.csv', encoding='latin-1')
pd.set_option('display.max_columns', None)

<ipython-input-2-3e8a288c3897>:1: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://raw.githubusercontent.com/learn-co-curriculum/dsc-phase-1-project-v3/master/data/Aviation_Data.csv', encoding='latin-1')

In [ ]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,NaN,NaN,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [ ]:
df.info()
# High cardinality = column that has a lot of individual, unique values.
# pareto distribution - LOok up. Comes from italian mathemitican, talks about if 100 workers, 10% will be doing most of the work.

# Use the qualitative and quantitative information to pinpoint. Example longitude/latitude & Country.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [ ]:
df['Model'].str.lower().value_counts()
# Unreg = unregistered, Unk none = no registration, usaf = U.S. Airforce
# dropping this column.
# One of the problems is 172 & 172n or 150m and 150 are same models.
# This had high cardinality, but distrubtion was non uniform.
df['Model'].isnull().sum()

1551

In [ ]:
df['Event.Id'].value_counts()

Event.Id
20001212X19172    3
20001214X45071    3
20220730105623    2
20051213X01965    2
20001212X16765    2
                 ..
20001211X14216    1
20001211X14239    1
20001211X14207    1
20001211X14204    1
20221230106513    1
Name: count, Length: 87951, dtype: int64

In [ ]:
df['Airport.Code'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 90348 entries, 0 to 90347
Series name: Airport.Code
Non-Null Count  Dtype
--------------  -----
50132 non-null  object
dtypes: object(1)
memory usage: 706.0+ KB

In [ ]:
df['Airport.Code'].isna().sum()

40216

In [ ]:
df.drop(columns =['Airport.Code'], inplace=True)

In [ ]:
df['Investigation.Type'].value_counts()

Investigation.Type
Accident      85015
Incident       3874
25-09-2020      702
26-09-2020       60
02-02-2021       39
              ...
13-09-2021        1
04-08-2021        1
05-08-2022        1
03-11-2020        1
06-01-2021        1
Name: count, Length: 71, dtype: int64

In [ ]:
df['Investigation.Type'].isna().sum()

0

In [ ]:
df['Event.Id'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 90348 entries, 0 to 90347
Series name: Event.Id
Non-Null Count  Dtype
--------------  -----
88889 non-null  object
dtypes: object(1)
memory usage: 706.0+ KB

In [ ]:
df['Event.Id'].isna().sum() # resembles 1459 null rows

1459

In [ ]:
df['Model'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 90348 entries, 0 to 90347
Series name: Model
Non-Null Count  Dtype
--------------  -----
88797 non-null  object
dtypes: object(1)
memory usage: 706.0+ KB

In [ ]:
df['Investigation.Type'].value_counts()

Investigation.Type
Accident      85015
Incident       3874
25-09-2020      702
26-09-2020       60
02-02-2021       39
              ...
13-09-2021        1
04-08-2021        1
05-08-2022        1
03-11-2020        1
06-01-2021        1
Name: count, Length: 71, dtype: int64

In [ ]:
df['Investigation.Type'].isna().sum()
# 0 null values.

0

In [ ]:
df['Accident.Number'].value_counts()

Accident.Number
CEN22LA149    2
WPR23LA041    2
WPR23LA045    2
DCA22WA214    2
DCA22WA089    2
             ..
LAX92FA065    1
ANC92T#A12    1
MIA92LA049    1
NYC92LA048    1
ERA23LA097    1
Name: count, Length: 88863, dtype: int64

In [ ]:
df['Accident.Number'].isna().sum()

1459

In [ ]:
df['Broad.phase.of.flight'].str.lower().value_counts()
# Might drop "unknown" and "other" rows due to not being able to do anything with these.
# Has low cardinality. Non uniformally distributed.
# OTHER & UNKNKOWN ROWS HAVE BEEN DROPPED!

Broad.phase.of.flight
landing        15428
takeoff        12493
cruise         10269
maneuvering     8144
approach        6546
climb           2034
taxi            1958
descent         1887
go-around       1353
standing         945
unknown          548
other            119
Name: count, dtype: int64

In [ ]:
df['Accident.Number'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 90348 entries, 0 to 90347
Series name: Accident.Number
Non-Null Count  Dtype
--------------  -----
88889 non-null  object
dtypes: object(1)
memory usage: 706.0+ KB

In [ ]:
df.drop(df[df['Broad.phase.of.flight'] == 'Other'].index, inplace=True)
df.drop(df[df['Broad.phase.of.flight'] == 'Unknown'].index, inplace=True)
# DROPPED OTHER & UNKNOWN ROWS HERE

In [ ]:
df['Broad.phase.of.flight'].unique()

array(['Cruise', 'Approach', 'Climb', 'Takeoff', 'Landing', 'Taxi',
       'Descent', 'Maneuvering', 'Standing', 'Go-around', nan],
      dtype=object)

In [ ]:
df['Broad.phase.of.flight'].value_counts()

Broad.phase.of.flight
Landing        15428
Takeoff        12493
Cruise         10269
Maneuvering     8144
Approach        6546
Climb           2034
Taxi            1958
Descent         1887
Go-around       1353
Standing         945
Name: count, dtype: int64

In [ ]:
df.describe()
# High cardinality = less useful, gives us less apparent groups.
# If cessna is in a lot of accidents, it's becuase they're used more. They represent 1/3 of the dataset.
# If it's low
cardinlity, the distribution doesn't matter much. Able to use.
# do

SyntaxError: unterminated string literal (detected at line 5) (<ipython-input-26-54882063a61a>, line 5)

In [ ]:
df['Model'].isna().sum()

In [ ]:
df['Location']

In [ ]:
df['Make']

In [ ]:
df.isnull().sum()

In [ ]:
df['Injury.Severity'].mode()
# Be careful with filling null values with the mode, might be adding noise to your data. Especially Categorical data, just remove values.
# if missing more than half the values, drop the column.

In [ ]:
df['Injury.Severity'].isna().sum()

In [ ]:
df['Injury.Severity'].value_counts()

In [ ]:
df['Make'].unique()

In [ ]:
df['Make'].value_counts()
# This is an example of High Cardinality

In [ ]:
df['Make'].mode()

In [ ]:
df['Event.Id'].info()
# not worth to drop.

In [ ]:
df['Event.Id'].isna().sum()

In [ ]:
df['Event.Id'].value_counts()
# High cardinality bruhh

In [ ]:
df['Report.Status'].value_counts()
# Also has high amount of unique values, able to be possibly dropped. Check for null values.

In [ ]:
df['FAR.Description'].isna().sum()

In [ ]:
df['FAR.Description'].info()

In [ ]:
df.drop(columns =['FAR.Description'], inplace=True) # dropped here.

In [ ]:
df['Aircraft.Category'].unique()

In [ ]:
df['Aircraft.Category'].isna().sum()

In [ ]:
df['Aircraft.Category'].info()
# Only 35% of null value rows, not worth dropping. Most likely significant to data problem as well.

In [ ]:
df['Publication.Date'].value_counts()

In [ ]:
df['Schedule'].value_counts()